extend layout

block head
	script(type="text/javascript" src="/js/jquery-3.2.1.min.js" charset="utf-8")
	script(type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8")
	link(rel="stylesheet" type="text/css" href="/css/chart.css")
	link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
	link(rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css")
	link(rel="stylesheet" type="text/css" href="/css/index.css")

block content

	div.container
		div.col-md-6.col-md-offst-3
			p #{text}
			button#show-metrics(type="button" class="btn btn-success") Bring the metrics
			button#logout(type="button" class="btn btn-danger") Logout
			button#deleteMetric(type="button" class="btn btn-danger") Delete metric
			#metrics
			#d3Chart

		script
			:coffee-script
				$('#show-metrics').click (e) ->
					e.preventDefault()
					$('#deleteMetric').show()
					$.getJSON "/metrics.json", {}, (data) ->
						content = "<form><select id='selection' name='selectedMetric'>"
						for metric in data.metrics
							content += "<option value='#{metric.key}'>#{metric.key}</option>"
						content += "</select></form>"
						$('#metrics').empty()
						$('#metrics').append content
						$('#d3Chart').empty()
						drawGraph(data.metrics)
				$('#logout').click (e) ->
					$.get "/", {}, () ->
						document.location.href = '/logout'
				$('#deleteMetric').click (e) ->
					e.preventDefault()
					selection = $('#selection option:selected').text()
					console.log selection
					$.post "/deleteMetric/#{selection}" 
					document.location.href = '/'
					

	footer
		script(type="text/javascript" src="https://d3js.org/d3.v4.min.js" charset="utf-8")
		script(type="text/javascript" src="/js/index.js" charset="utf-8")
